.custumer__card{
    background-color: blue;
     display: flex;
     justify-content: center;
     align-items: center;
    

}
.custumer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     
}
.liste-item{
    background-color: blue;
    border: 1px solid blue;
}